<%= link_to target_path, remote: true do %>
  <div class="btn-normal">
    <%= image_tag "icon/edit.svg", size:"24x24" %>
    <p class="btn-text">Edit</p>
  </div>
<% end %>
<!--titleのedit、contentのeditでわけないといけない-->