<%= link_to target_path do %>
  <div class="main-edit-btn">
    <%= image_tag "icon/edit.svg", size:"18x18" %>
    <p class="main-edit-text">Edit</p>
  </div>
<% end %>
<!--titleのedit、contentのeditでわけないといけない-->