
<div class="main-edit-btn">
  <%= link_to target_path do %>
    <%= image_tag "icon/edit.svg", size:"18x18" %>
    <p class="main-edit-text">Edit</p>
  <% end %>
</div>
<!--titleのedit、contentのeditでわけないといけない-->