<!--ttile　非編集時-->
<div class="main-title">
  <p class="title-text"><%= book.title %></p>
  <%= render 'shared/edit_button', target_path: main_edit_path(:book_id => book.id, :which => "title") %>
</div>
