<div class="main-title">
  <p><%= book.title %></p>
  
  <% end %>
</div>

<div class="main-content">
  <p><%= book.content %></p>
  <%= render 'shared/edit_button', target_path: edit_book_path(book) %>
</div>



