<div class="head d-flex">
  <%= image_tag "icon/logo.svg" %>
  <p>ServecName</p>
</div>

<div class="col">
  <ul>
    <% books.each do |book| %>
      <li class="cards">
        <%= link_to book_path(book) do %>
          <%= book.title %>
        <% end %>
      </li>
    <% end %>
    
  </ul>
      
  
</div>

<div class="foot">
  <%= render 'shared/edit_button', target_path: menu_edit_path(:book_id => book.id) %>
</div>