<div class="container">
  
  <div id="menu" class="menu">
    <%= render 'menu', books: @books, book: @book %>
  </div>
  
  <div class="main main-bg-light">
    <div id="main-title">
      <%= render 'main_title', book: @book %>
    </div>
    <div id="main-content">
      <%= render 'main_content', book: @book %>
    </div>
    
  </div>
  
</div>