<div class="container">
  
  <div id="menu" class="menu">
    <%= render 'menu', books: @books, book: @book %>
  </div>
  
  <div id="main" class="main main-bg-light">
    <%= render 'main', book: @book %>
  </div>
  
</div>