@use "variables" as *;
.menu{
  width: 280px;
  // height: 1024px;
}

.head{
  width: 200px;
  height: 32px;
  margin-bottom: 20px;
  display: flex;
  font-weight: bold;
}

.col{
  width: 240px;
  height: 882px;
  padding: 10px;
}

.cards{
  width: 240px;
  height: 44px;
}

a:link{
  text-decoration: none;
}

.menu-title{
  width: 186px;
}

li{
  list-style: none;
}

.foot{
  background-color: $bg-light;
  width: 280px;
  height: 60px;
  padding: 10px 10px 10px 180px;
}

.foot-edit{
  display: flex;
  justify-content: space-between;
  background-color: $bg-light;
  width: 280px;
  height: 60px;
  padding: 10px 10px 10px 10px;
}

.btn-normal{
  width: 90px;
  height: 40px;
  padding-left: 33px;
  border-radius: 5px;
  background-color: $brand-color;
  position: relative;
}

.btn-text{
  font-size: $font-minimum;
  color: white;
  position: absolute;
  bottom: 3px;
  left: 33px;
}

.btn-outline{
  width: 90px;
  height: 40px;
  padding-left: 33px;
  border: solid 1px $brand-color;
  border-radius: 5px;
  background-color: white;
  position: relative;
}

.btn-outline-text{
  font-size: $font-minimum;
  color: $brand-color;
  position: absolute;
  bottom: 3px;
  left: 20.5px;
}