// color
$brand-color: #4cb3f8;

// text
$text-regular-color: #333333;
$text-light-color: #4d4d4d;

// button
$btn-normal: #b3b3b3;
$btn-secondary: #4cb3f8;

// background
$bg-light: #f5f8fa;
$bg-dark:  #c8e6fa;

// font-size
$font-title: 24px;
$font-body: 16px;
$font-caption: 12px;
$font-minimum: 10px;

// font
$font: "Noto Sans JP", sans-serif;